<section ng-controller="hiddensideNavCtrl">
	<md-sidenav
		md-is-closed="$mdMedia('max-width: 720px')"
	    class="md-sidenav-left hiddensideNav"
	    md-component-id="hiddenNavBar"
	    flex="100"
	    >
		<md-toolbar class="md-theme-indigo sideToolbar">
			<h1 class="md-toolbar-tools" ng-if="!data.loggedOnUser">Menu</h1>

			<md-menu md-position-mode="target-right bottom" ng-if="!data.loggedOnUser">
				<ng-md-icon class="hiddensideNavMenuIcon" ng-click="$mdMenu.open($event)" icon="arrow_drop_down" style="fill: white" size="26"></ng-md-icon>
				<md-menu-content width="3" >
	                <md-menu-item>
	                    <md-button ng-click="loginDialog($event)">
	                        Login
	                    </md-button>
	                </md-menu-item>
            	</md-menu-content>
			</md-menu>

			<h1 class="md-toolbar-tools" ng-if="data.loggedOnUser">{{data.username}}</h1>			
			<span class="hiddensideNavMenuUserEmail">{{data.email}}</span>
			<md-menu md-position-mode="target-right bottom" ng-if="data.loggedOnUser">
				<ng-md-icon class="hiddensideNavMenuIcon" ng-click="$mdMenu.open($event)" icon="arrow_drop_down" style="fill: white" size="26"></ng-md-icon>
				<md-menu-content width="3" >
	                <md-menu-item>
	                    <md-button ng-click="null">
	                        View Profile
	                    </md-button>
	                </md-menu-item>
	                <md-menu-item>
	                    <md-button ng-click="null">
	                        Settings
	                    </md-button>
	                </md-menu-item>
	                <md-menu-item>
	                    <md-button ng-click="logout()">
	                        Log Out
	                    </md-button>
	                </md-menu-item>
            	</md-menu-content>
			</md-menu>

		</md-toolbar>
	  	<md-content layout-padding class="sideNavContent">
		    <md-list class="sideMenuList">
	 			<md-list-item class="sideMenuListItems" class="md-3-line" ng-click="redirectHomePage()">
	 				<ng-md-icon class="menuIcons" icon="home" style="fill: white" size="20"></ng-md-icon>
					<span>&nbsp; Home</span>
				</md-list-item>
				<md-list-item class="sideMenuListItems" class="md-3-line" ng-click="redirectAboutPage()">
					<ng-md-icon class="menuIcons" icon="face" style="fill: white" size="20">&nbsp;</ng-md-icon>
					<span>&nbsp; About</span>
				</md-list-item>
				<md-list-item class="sideMenuListItems" class="md-3-line" ng-click="redirectContactPage()">
					<ng-md-icon class="menuIcons" icon="phone" style="fill: white" size="20">&nbsp;</ng-md-icon>
					<span>&nbsp; Contact Us</span>
				</md-list-item>
				<md-list-item class="sideMenuListItems" class="md-3-line" ng-click="redirectTeamPage()">
					<ng-md-icon class="menuIcons" icon="person" style="fill: white" size="20">&nbsp;</ng-md-icon>
					<span>&nbsp; Our Team</span>
				</md-list-item>
			</md-list>
	  </md-content>
	</md-sidenav>
</section>