<md-toolbar class="toolbar">
    <h2 class="md-toolbar-tools">
    	<ng-md-icon 
    		ng-controller="LeftCtrl"
    		id="menuIcon" 
    		hide show-xs 
    		ng-click="toogleleft()" 
    		icon="menu" 
    		style="fill: white" 
    		size="30">
    	</ng-md-icon>
        <span class="brand">Summon<strong>API</strong></span><div flex></div>
        <md-button class="signupButton" ng-click="loginDialog($event)" ng-if="!userData.loggedOnUser" hide-xs>Login</md-button>
        <span class="signupButton" ng-click="null" ng-if="userData.loggedOnUser" hide-xs>{{userData.username}}</span>
        <md-menu ng-if="userData.loggedOnUser" md-position-mode="target-right bottom" hide-xs>
            <a href="#" class="userImg">
                &nbsp;
                <img class="userProfileImg" ng-click="$mdMenu.open($event)" src="../../images/img1.jpg" height="30px" width="30px">
            </a>
            <md-menu-content width="3" >
                <md-menu-item>
                    <md-button ng-click="null">
                        View Profile
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="null">
                        Settings
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="logout()">
                        Log Out
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </h2>
</md-toolbar>
