<section layout="column">
	<div flex flex-gt-sm="33">
		<!--intro card-->
		<md-card class="intro_card" md-whiteframe="4px">
			<img src="../images/homeImg.png">
			<md-card-title class="card_title">
				<md-card-title-text class="title_text">
					<span class="md-headline">Home</span><br>
				</md-card-title-text>
			</md-card-title>
		</md-card>		
	</div>
	<div flex>
		<!--info card-->
		<md-card class="info_card" ng-repeat="i in postData.posts">
			<md-card-header>
				<md-card-avatar>
					<img src="../images/profile/{{i.userInfo.profile_pic}}" class="postMakerImg" />
				</md-card-avatar>
				<md-card-header-text>
					<span class="md-title userName">{{i.userInfo.username | uppercase}}</span>
					<span class="md-subhead">{{i.createdAt}}</span>
				</md-card-header-text>
			</md-card-header>
			<div layout="row" layout-xs="column">
				<div flex flex-order-xs="1">
					<md-card-title>
						<md-card-title-text>
						<span class="md-headline post_title">{{i.title}}</span>
						<span class="md-subhead">
							<a href="{{i.api_link}}" class="api_link" target="_blank">{{i.api_link}}</a>
						</span>
						</md-card-title-text>
					</md-card-title>
					<md-card-content>
						<p class="post_desc">
							{{i.description}}
						</p>
						<div class="chip_box">
							<span class="chip" ng-repeat="tags in i.tags">
								{{tags}}
							</span>
						</div>
					</md-card-content>
				</div>
				<div flex flex-order-xs="-1" class="previewContainer">
					<h3>Preview</h3>
					<img src="../images/aboutImg.png" height="200px" width="200px">
				</div>
			</div>
			
			<hr />
			<md-card-actions layout="row" layout-align="start center">
				<div class="voteContainer" flex>
					<ng-md-icon ng-click="voteUp(i)" icon="thumb_up" style="fill: grey" size="17"></ng-md-icon>
					&nbsp; &nbsp;
					<span>{{i.vote_cnt}}</span>
					&nbsp; &nbsp;
					<ng-md-icon ng-click="voteDown(i)" icon="thumb_down" style="fill: grey" size="17"></ng-md-icon>
				</div>
				<md-button ng-click="details(i._id)" class="md-raised md-warn postDetailBtn" aria-label="postDetailBtn">Details</md-button>
			</md-card-actions>
		</md-card>
	</div>
</section>
