<section layout="column">
	<md-card class="loginAccountCard">
		<md-card-title>
			<md-card-title-text></md-card-title-text>
		</md-card-title>
		<md-card-content>
			<md-content>
				<form name="loginAccountForm" class="md-padding md-form loginAccountForm">
					<md-input-container class="md-block">
						<label>Username</label>
						<input required="" name="username" ng-model="user.username" type="text"/>
					</md-input-container>
					<md-input-container class="md-block">
						<label>Password</label>
						<input required="" name="password" ng-model="user.password" type="password"/>
					</md-input-container>
				</form>
				<button class="md-button md-raised" ng-click="loginAccount()">Enter</button>
			</md-content>
		</md-card-content>
	</md-card>
</section>