<md-sidenav
	md-is-locked-open="$mdMedia('min-width: 600px')"
	md-is-closed="$mdMedia('max-width: 600px')"
	class="md-sidenav-left sideNav"
	md-component-id="openedNavBar"
	flex="100">
	<md-content layout-padding class="sideNavContent">
	<ul class="sideMenuList">
		<li class="sideMenuListItems">
	    	<a href="/home">Home</a>
		</li>
		<li class="sideMenuListItems">
	    	<a href="/about">About</a>
		</li>
		<li class="sideMenuListItems">
	    	<a href="/contact">Contact Us</a>
		</li>
		<li class="sideMenuListItems">
	    	<a href="/team">Our Team</a>
		</li>
	</ul>
	</md-content>
</md-sidenav>