<md-dialog aria-label="Sign Up" class="dialogBox">
	<md-dialog-content>
		<md-content layout="column">
			<div flex class="loginIconContainer">
				<ng-md-icon class="loginIcon" icon="login" style="fill: black" size="64"></ng-md-icon>
			</div>
			<div layout="column" flex class="btnContainer">
				<div flex>
					<md-button class="md-raised md-primary facebookBtn">
						<ng-md-icon icon="facebook" style="fill: blue" size="24"></ng-md-icon>
						<span>Login with facebook</span>
					</md-button>
				</div>
				<div flex>
					<md-button class="md-raised githubBtn">
						<ng-md-icon icon="github-circle" style="fill: white" size="24"></ng-md-icon>
						<span>Login with github</span>
					</md-button>
				</div>
				<div flex>
					<md-button class="md-raised emailBtn" ng-click="closeLoginDialog()">
						<a>	
							<ng-md-icon icon="email" style="fill: black" size="24"></ng-md-icon>
							<span>Login with Username</span>
						</a>
					</md-button>
				</div>
				<div flex class="newAccountContainer">
					<span>New at Summon?</span><a ng-click="closeLoginDialog()" href="/create-account">Create new account</a>
				</div>
			</div>
		</md-content>
	</md-dialog-content>
</md-dialog>