<md-dialog aria-label="Sign Up" class="dialogBox">
	<md-toolbar class="md-small">
	    <h2 class="md-toolbar-tools">
	        <span>Sign In</span>
	    </h2>
    </md-toolbar>
	<form ng-cloak>
		<md-dialog-content>
			<div class="md-dialog-content">
				<div layout-gt-sm="column">	
					<md-input-container class="md-block" flex-gt-sm>
						<label>Username</label>
						<input name="username" ng-model="user.userName" type="text">
					</md-input-container>
					<md-input-container class="md-block" flex-gt-sm>
						<label>password</label>
						<input name="password" ng-model="user.password" type="password">
					</md-input-container>
					<md-button class="primary" ng-click="signinDetails()">Sign in</md-button>
				</div>
			</div>
		</md-dialog-content>
	</form>
</md-dialog>


