.createAccountCard {
	width: 60%;
    height: auto;
    border-radius: 0px;
    margin: auto;
    margin-top: 1em;
}
.createAccountForm {
	padding: 0.5em;
}
.createAccountForm md-input-container {
	margin: auto;
	margin-top: 1em;
	margin-bottom: 1em;
}
.createAccountBtnContainer {
	text-align: center;
}
.createAccountBtn ng-md-icon {
	position: relative;
	top: 7px;
}